body {
  background-color: rgb(253, 251, 251);
  text-align: center;
  margin: 0px;
  border: none;
  color: #6a3324;
  font-family: 'Hina Mincho', serif;
  font-size: 30px;
}

main {
  background-color: #f3d78a;
  padding-bottom: 15px;
}
 
#cabecalho {
  position: fixed;
  top: 0;  
  font-family: cursive;
  color: #f3d78a;
  background-color: #431a18;
  margin-left: 0%;
  padding: 0%;
  border-radius: 0% 0% 10% 10%;
  width: 100%;
  font-family: 'Allison', cursive;
  font-size: 30px;
  letter-spacing: 5px;
  line-height: 20px;
}

#nav1 {
  background-color: #f3d78a;
  padding: 0px 0px 40px 0px;
}

#minha_foto{
  border-radius: 50%;
  float: left;
  display: inline-block;
  margin-left: 100px;
  margin-top: 50px;
}

.ul-header li {
  margin-top: 100px;
  margin-left: 50p%;
  display: inline-block;
  padding: 0px 50px 0px 50px; 
}

.a1 {
  text-decoration: none;
  color: #431a18;
}

.a1:hover {
  padding: 10px;
  background-color: #431a18;
  color: #f3d78a;
  border-radius: 20%;
}

.imgLeft {
  display: inline;
  float: left;
  margin-left: 200px;
  border-radius: 10%;
}

.imgRight {
  display: inline;
  float: right;
  margin-right: 200px;
  border-radius: 10%;
}

.section {
  clear: both;
  padding: 25px;
}

.imgLeft2 {
  display: inline;
  float: left;
  margin-left: 200px;
  margin-bottom: 20px;
  border-radius: 10%;
}

.imgRight2 {
  display: inline;
  float: right;
  margin-right: 50px;
  margin-left: 0px;
  border-radius: 10%;
  margin-bottom: 0%;
}

#textLeft {
  display: inline;
  padding: 0% 0% 0% 0%;
  line-height: 35px;
  clear: both;
  margin-left: 200px;
}

#ol {
  display: inline-block;
  text-align: right;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 30px;
  margin-top: 5%; 
  line-height: 50px;
}

#ol li {
  list-style-type: none;
}

#ul {
  display: inline-block;
  text-align: left;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 30px;
  line-height: 50px;
}

#ul li {
  list-style-type: none;
}


#rodape { 
  position: relative;
  height: 150px;
  margin-top: 0px;
  box-sizing: border-box;
  opacity: 0.9;
  padding-bottom: 10px;
  box-sizing: border-box;
  background-color: #431a18;
  
}  


#rodape a {
  position: absolute;
  z-index: 2;
  opacity: 0.5;
}

#rodape a:nth-child(1){
  left: 80%;
  margin-top:20px;
}

#rodape a:nth-child(2) {
  left: 20%;
  margin-top:20px;
}

#rodape a:nth-child(3) {
  left: 40%;
  margin-top:20px;
  
}

#rodape a:nth-child(4) {
  left: 60%;
  margin-top:20px;
}

#rodape a:hover {
  opacity: 1;
}

#rodape a:active {
  opacity: 0;
}

aside {
  display: inline-block;
}

#video {
  float: right;
  margin-left: 100px;
}

table {
  border: #431a18;
}

.lado-direito {
  margin-top: 10px;
  float: right;
  max-width: 45%;  
}

.lado-esquerdo {
  margin-top: 15px;
  float: left;
  max-width: 50%;
}

table {
  border: #431a18;
  border-style: dashed;
  display: inline;
  float: left;
  padding: 100px;
}